SPRING_APPLICATION_NAME=MusicUbam
SERVER_PORT=8081

SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/musica?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=musicubam
SPRING_DATASOURCE_PASSWORD=CAMBIA_ESTA_PASSWORD
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false

SPRING_MAIL_HOST=smtp.hostinger.com
SPRING_MAIL_PORT=465
SPRING_MAIL_PROTOCOL=smtps
SPRING_MAIL_USERNAME=admin@chat.portafolioestudiantil.com
SPRING_MAIL_PASSWORD=CAMBIA_ESTA_PASSWORD_SMTP
SPRING_MAIL_SSL_TRUST=smtp.hostinger.com
MUSICUBAM_MAIL_FROM=admin@chat.portafolioestudiantil.com

LOGGING_LEVEL_ROOT=info
LOGGING_LEVEL_SPRING=info
LOGGING_LEVEL_HIBERNATE_SQL=warn
APP_DEBUG=false
